
@import
url(https://fonts.google.com/?category=Sans+Serif&selection.family=Kodchasan|Playfair+Display);

.entire{
  color:rgb(51, 46, 46);

}

h1, h2{
    font-family:'Playfair Display SC', serif;

}

p, li {
    text-justify: left;
    font-family: 'Kodchasan', sans-serif;
}


#img{
    left:auto;

}

#name{
    text-align: center;
}

.body{
    overflow: hidden;
    align-items: center;
}

#bio, #acheiv{
    width:500px;
    margin:10px;

}

#bio{
    text-align: left;
    float: left;

}

#acheiv{
    text-align:right;
    float:right;

}









