

/*--Header--*/
header{
    background-color:yellow;
}

h1, h2{
    font-family: 'Holtwood One SC', serif;
}
h1{
    text-align: center;
    background-color: yellow;
    margin:0;
    font-size: 50px;
}
img{
    background-color:white;
}

/*--nav--*/
nav{
    text-align: center;
    padding-bottom: 30px;
    margin-top:0;
    font-size: 13px;
}
a:link{
    color: black;
    font-family: 'Text Me One', sans-serif; 
    text-decoration: none;
    padding:0 30px;
    border-left: 5px solid black;
    border-right: 5px solid black;
}
a:visited{
    color:white;
}

/*--Body--*/
p, li {
    text-justify: left;
    font-family: 'Text Me One', sans-serif;
}
#incidentals{
    line-height: 1em;
    text-align: center;
    display:block;
    margin-left: auto;
    margin-right:auto;
    border-top: 10px solid black;
    border-bottom:5px solid black;
    background-image: url("assets/photos/background/chris.svg");
    background-position: right-top;
    background-repeat:none;
}
#incidentals p{
    font-weight:900;
}
#biography, 
#acheivements{
    width:46.5%;

}
#biography{
    float:left;

}
#acheivements{
    float:right;
    border-left: 2px solid black;
    padding-left: 50px;
}
ul{
    list-style-type:20px;
}

/*--FloatClearfix--*/
.group:after{
    content:"";
    display: table;
    clear:both;
}












